* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #237461;
    --secondary-color: #1B3E36;
    --black: #161616;
    --white:#f2f2f2;
    --font: "Work Sans", serif;
    --headline: "Sniglet", serif;
}

body {
    font-family: var(--font);
}

.search-container {
    width: 300px;
    margin-right:20px;
    color: var(--black);
    border: none;
}

header input {
    margin: 0;
}

#searchInput { 
    width: 100%; padding: 10px; 
}

.autocomplete { 
    position: absolute; 
    width: 400px; 
    max-height: 150px; 
    overflow-y: auto; 
    display: none;
}
.autocomplete div {
    padding: 10px; 
    cursor: pointer;
}
.autocomplete div:hover, .autocomplete .selected {
    background: #f0f0f0;
}