@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #237461;
    --secondary-color: #1B3E36;
    --black: #161616;
    --white:#f2f2f2;
    --font: "Work Sans", serif;
    --headline: "Sniglet", serif;
}

body {
    font-family: var(--font);
}


.pilsner {
    color: var(--primary-color);
}

.spikyginger {
    color: #C1A266;
}

.pinkypromise {
    color: #583032;
}

p {
    width: 50%;
    text-align: justify;
    line-height: 1.3;
}




header ul li, .logo, header .icon:not(:last-child), .kurv {
    filter: invert(100%);
}

header input {
    border: 1px solid var(--black);
}





.produkt {
    margin-top: 0;
    padding-top: 10vh;
    height: auto;
    width: 100%;
    display: flex;
}

.beskrivelse {
    width: 50%;
    color: var(--black);
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.beskrivelse h1 {
    font-family: var(--font);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.daaser {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.daase img {
    height: 60vh;
    width: auto;
    margin-top: -20px;
}

.antal {
    width: 20%;
    border-radius: 20px;
    color: var(--white);
}

.knap {
    width: 50%;
    background-color: var(--primary-color);
    border-style: none;
    height: 50px;
    border-radius: 20px;
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--font);
    font-weight: 800;
    cursor: pointer;
}

.beskrivelse h1, .beskrivelse h3, .beskrivelse .antal, .mobile-pay, .knap, p {
    margin-bottom: 1.3rem;
}

.tallet1 {
    text-align: center;
}

.relaterede {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: var(--font);
    font-size: 1.5rem;
}

.andre {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10%;
}

.relateret {
    display: flex;
    background: var(--white);
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.relateret img {
    width: auto;
    height: 80%;
}

.java {
    background: none;
    border-style: none;
    width: 100%;
}

.dropbtn {
    display: none;
}

.sortiment-tekst {
    display: none;
}

.list {
    grid-template-columns: repeat(1, 1fr);
}

.list .item .daase img {
    width: auto;
    height: 60vh;
    object-fit: cover;
}

.list .item button {
    width: 20rem;
}
.daase {
    width: auto;
    margin: 0;
    width: 70%;
}

.list .item a .mobile-pay {
    background: white;
    border: 3px solid #5a78ff;
    object-fit: cover;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .item a .mobile-pay img {
    width: auto;
    height: 80%;
}
