@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #237461;
    --secondary-color: #1B3E36;
    --black: #161616;
    --white:#f2f2f2;
    --font: "Work Sans", serif;
    --headline: "Sniglet", serif;
}

body {
    font-family: var(--font);
}


.pilsner {
    color: var(--primary-color);
}

.spikyginger {
    color: #C1A266;
}

.pinkypromise {
    color: #583032;
}

p {
    width: 50%;
    text-align: justify;
}




header ul li, .logo, header .icon:not(:last-child) {
    filter: invert(100%);
}

header input {
    border: 1px solid var(--black);
}





.produkt {
    margin-top: 0;
    padding-top: 20vh;
    height: auto;
    width: 100%;
    display: flex;
}

.beskrivelse {
    width: 50%;
    color: var(--black);
    font-family: var(--font);
}

.beskrivelse h1 {
    font-family: var(--font);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.daaser {
    width: 50%;

}

.daase img {
    height: 60vh;
    width: auto;
    margin-top: -20px;
}

.antal {
    width: 20%;
    border-radius: 20px;
    color: var(--white);
}

.knap {
    width: 50%;
    background-color: var(--primary-color);
    border-style: none;
    height: 50px;
    border-radius: 20px;
    color: var(--white);
    font-size: 1.5rem;
    font-family: var(--font);
    font-weight: 800;
    cursor: pointer;
}

.beskrivelse h1, .beskrivelse h3, .beskrivelse .antal, .knap {
    margin-bottom: 1rem;
}

.mobile-pay {
    background-color: #5875FA;
}

.tallet1 {
    text-align: center;
}

.relaterede {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: var(--font);
    font-size: 1.5rem;
}

.andre {
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10%;
    width: 100vh;
}

.relateret {
    display: flex;
    background: lightgray;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.relateret img {
    width: auto;
    height: 80%;
}