@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #237461;
    --secondary-color: #1B3E36;
    --black: #161616;
    --white:#f2f2f2;
    --font: "Work Sans", serif;
    --headline: "Sniglet", serif;
}

body {
    font-family: var(--font);
}


.pilsner {
    color: var(--primary-color);
}

.spikyginger {
    color: #C1A266;
}

.pinkypromise {
    color: #583032;
}




/* HEADER */


header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    position: absolute;
    z-index: 1000;
}

header section {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    padding-right: 40px;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul a {
    text-decoration:none
}

header ul a li:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

header ul li {
    font-family: var(--font);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 40px;
}

header input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    color: var(--black);
    border: none;
}

header .icon {
    height: 30px;
    width: auto;
    padding: 0 20px;
}

header .icon:nth-child(4) {
    height: 20px;
    margin-left: 20px;
}

.search-container {
    width: 300px;
    margin-right:20px;
    color: var(--black);
    border: none;
}

#searchInput { 
    width: 100%; padding: 10px; 
}

.autocomplete { 
    position: absolute; 
    width: 20%; 
    max-height: 150px; 
    overflow-y: auto; 
    display: none;
    color: var(--white);
    margin: 10px 0;
}
.autocomplete article {
    padding: 10px; 
    cursor: pointer;
}
.autocomplete div:hover, .autocomplete .selected {
    background: var(--primary-color);
    padding: 10px;
}


/* HEADER SLUT */

/* Popup om alder */

/* Sløret baggrund */
.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background: rgba(54, 54, 54, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Popup boks */
.popup {
    background: white;
    padding: 50px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.13);
    max-width: 500px;
    width: 100%;
}

/* Overskrift */
.popup h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 400;
}

/* Knapper */
.buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.knap {
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.yes {
    background-color: var(--secondary-color);
}

.no {
    background-color: var(--secondary-color);
}

.knap:hover {
    background-color: #555;
    transform: translateY(-2px);
}

/* Fejlbesked */
.hidden {
    display: none;
}

.message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Disclaimer-tekst */
.disclaimer {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
}

.disclaimer a {
    font-size: 12px;
    color: #666;
    text-decoration: underline;
}

/* POPUP SLUT */

.container{
    transition: 0.5s;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping span {
    background: red;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: #fff;
    top: -5px;
    left: 80px;
    padding: 3px 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: var(--secondary-color);
    height: 100vh;
    transition: 0.5s;
    z-index: 1200;
}

.card h1 {
    color: var(--primary-color);
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut section {
    background-color: yellow;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut section:nth-child(2) {
    background: black;
    color: var(--white);
}

.active .card {
    left: calc(100% - 500px);
}

.active .container {
    transform: translateX(-200px);
}



.videologo {
    width: 20%;
    height: auto;
    position: absolute;
    z-index: 1001;  /* placerer logoet over videoen */
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    position: relative; /* Sikrer at video kan placeres absolut */
}

.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100vw; 
    height: 100vh;
    object-fit: cover; /* Sikrer at videoen dækker hele området uden at forvrænge */
}
.video a {
    position: absolute;
    bottom: 0;
}

.arrow {
    height: 60px;
    width: auto;
    margin-bottom: 100px;
    transition: 0.2s ease-in;
}

.video a {
    transition: 0.2s ease-out;
}

/* NYHED */


.nyhed {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
   padding-bottom: 5%;
}

 .nyhed-tekst {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .nyhed-tekst h3 {
    font-family: var(--headline);
    color: var(--primary-color);
    font-size: 60px;
    text-transform: uppercase;
    margin: 0 0 30px 100px;
    transform: rotate(-10deg);
 } 

 .nyhed-tekst h2 {
    font-family: var(--font);
    color: var(--black);
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 900;
 } 

 .nyhed-tekst p {
    font-family: var(--font);
    color: var(--black);
    font-size: 25px;
    width: 80%;
 } 

 .nyhed-tekst label {
    background: var(--primary-color);
    color: var(--white);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 0 50px 50px 0;
    width: auto;
    padding: 10px;
    margin-top: 30px;
    width: 340px;
    text-align: center;
 }

.nyhed-billede img {
    height: 800px;
    margin-top: -15%;
}



/* FAVORITTER STARTER */

.favoritter {
    margin-top: 10rem;
    height: auto;
    text-align: center;
}

.favoritter-tekst {
    display: flex;
    width: 100%;
}

.overskrift {
    width: 50%;
}

.favoritter-tekst p {
    font-family: var(--font);
    font-size: 45px;
}

.favoritter-tekst h3 {
    font-family: var(--headline);
    font-size: 70px;
    color: var(--secondary-color);
    padding-bottom: 2%;
}

.favoritter-tekst-dropdown {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

button.dropbtn {
    background-color: white;
    border: none;
    font-family: var(--font);
    font-size: 22px;
}

* Style the dropdown button */
.dropbtn {
  background-color: #ffffff;
  color: var(--black);
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--font);
}

/* Dropdown containeren */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown indhold (gemt by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  z-index: 1;
  margin-left: 100px;
}

/* Styling dropdown links */
.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* farven på hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.daaser {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daase {
    width: 17%;
    margin: 0 40px;
}

.daase h3 {
    font-family: var(--font);
    font-size: 30px;
    text-transform: uppercase;
}

.daase p {
    font-family: var(--font);
    color: var(--primary-color);
    font-size: 20px;
}

.daase p:nth-child(4) {
    font-family: var(--font);
    color: var(--primary-color);
    font-size: 30px;
}

.button {
    background: var(--primary-color);
    display: flex;
    border-radius: 20px;
    margin-top: 10px;
}

.button p {
    color: var(--white);
    font-size: 1rem;
}

.daase button {
    background: none;
    border: none;
    color: white;
    width: 60%;
}

.daase img {
    width: 100%;
    height: auto;
}

.antal {
    display: flex;
    width: 40%;
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 20px 0 0 20px;
    justify-content: space-evenly;
}

.antal img {
    width: 10px;
}



/* FAVORITTER SLUTTER */

/* USER STORIES */

/* .user-stories {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10% 15%;
    gap: 5%; 
}

.user-stories span {
    font-size: 200px;
    font-family: var(--font);
}

.user-stories p {
    font-size: 30px;
    font-weight: 300;
}

.citation-venstre {
    left: 0%;
    margin-bottom: -10rem;
    color: var(--primary-color);
}

.citation-højre {
    left: 0%;
    color: var(--primary-color);
} */

/* USER STORIES */
.user-stories {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20% 15% 10%;
    gap: 10%; 
}

.user-stories p {
    width: 20rem;
    font-size: 25px;
    font-weight: 300;
    position: relative;
    line-height: 1.6;
}

.user-stories span {
    font-size: 200px;
    font-family: var(--font);
    position: absolute;
}

.citation-venstre {
    top: -8rem; /* Justér denne værdi for at rykke citationstegnet tættere på teksten */
    left: 0rem;
    color: var(--primary-color);
}

.citation-højre {
    bottom: -15rem;
    right: 0rem;
    color: var(--primary-color);
}


/* VÆRDI SEKTION */
.tekst-1 {
padding-left: 35%;
margin-top: 10%;
margin-bottom: -20%;
font-size: 2.5rem;
text-align: center;
font-weight: 200;
}

.tekst-1 span {
    font-weight: bold;
}

.video-hexagon {
    width: 100vh;
    height: 100vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    margin-left: -15%;
    z-index: 1000;
    }

    .video-hexagon video {
        margin-left: -50%;
        height: 100%;
    }

    .square {
        width: 100%;
        height: 140vh;
        background-color: var(--secondary-color);
        margin-top: -50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .tekst-2 {
        font-size: 3rem;
        text-align: center;
        font-weight: 200;
        color: #ffffff;
        }

    .tekst-2 span {
            font-weight: bold;
        }
    
    .blomst {
        width: 20%;
        margin-left: 35%;
        margin-top: -23%;
        margin-bottom: 7%;
    }
    
    .space-between {
        padding-top: 5%;
    }

    .hexagon {
        width: 150vh;
        height: 60vh;
        background-color: #ffffff;
        clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 75% 100%, 0% 100%, 0% 0%);
        margin-left: -21%;
        z-index: 1000;
        margin-top: -40vh;
        display: flex;
        justify-content: center;
        }

    .tekst-3 {
        padding-top: 10%;
        padding-left: 100px;
        font-weight: 800;
        color: var(--secondary-color);
        font-size: 3.5rem;
        z-index: 1000;

    }

    

    .blomst {
        width: 20%;
        margin-left: 35%;
        margin-top: -25%;
        margin-bottom: 7%;
    }

/* BANNER */

.banner {
    margin-top: 5rem;
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
    color: white;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    padding: 10px 0;
    position: relative;
}

.banner-content {
    display: flex;
    gap: 50px;
    width: max-content;
    animation: scrollBanner 10s linear infinite;
}

.banner-content p {
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-space {
    margin-right: 50px; 
}

@keyframes scrollBanner {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}

/* FOOTER STARTER */


footer {
    background: var(--white);
    display: flex;
}

.kontakt {
    width: 40%;
    background-color: var(--secondary-color);
    padding: 20px 80px 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.container {
    padding-bottom: 10px;
}

.container h2 {
    font-family: var(--font);
    font-size: 4rem;
    vertical-align: top; /* Justerer vertikal placering */
    color: var(--white);
}

.container input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: rgba(0,0,0,0.0);
}
  
input[type=submit] {
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--primary-color);
    font-weight: bold;
    width: 20%;
}
  
input[type=submit]:hover {
    background-color: var(--secondary-color);
    color: var(--black);
    border: none;
}

::placeholder {
    color: var(--white);
    opacity: 0.6;
  }

  input, select, textarea{
    color: var(--white);
    padding: 12px;
}

.container textarea {
    background-color: var(--secondary-color);
    border: 1px solid var(--white);
    width: 100%;
    height: 100px;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.some {
    padding: 40px 80px 0 80px;
}

.some img {
    width: auto;
    height: 70px;
    margin-right: 10px;
}

.nyhedsbrev {
    width: 50%;
    padding: 20px 80px 50px 80px;
}

.nyhedsbrev .container h2 {
    color: var(--primary-color);
}

.nyhedsbrev .container input {
    border: 1px solid var(--primary-color);
}

.nyhedsbrev input[type=submit] {
    background-color: var(--primary-color);
    color: var(--white);
}

.nyhedsbrev ::placeholder {
    color: var(--primary-color);
}

.nyhedsbrev   input, select, textarea{
    color: var(--primary-color);
}


/* FOOTER SLUTTER */

html {
    scroll-behavior: smooth;
  }